.cloud {
    text-align: start;
    background-color: black;
    color: aquamarine;
margin: 5px;
padding: 10px;
}
span {
    color: white;
    margin: -5px;
padding: 10px;
    background-color: black;
    
}
.completed-projects {
    text-align: center;
    background-color: #663399;
    margin: 5px;
padding: 6px;
color: white;
}
.contact {
    text-align:right;
    background-color: #9FC5F8;
    margin: 5px;
padding: 6px;
    text-decoration: underline;
    text-size-adjust: 20px;
}
h1 {
    
    font-size: 50px;
    font-style:oblique;
    
}
